@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
 }

body{
  background-color: #fceff6;
}

.active{
  font:bold;
  background-color: white;
  color: rgb(253, 0, 127);
}


